:root {
  /* colors */
  --color-primary: #5161ce;

  --bg-color: #fff;

  --brand-color: var(--color-primary);

  --border-color: #dcdfe6;

  /* header vars */
  --header-height: 55px;

  /* sidebar vars */
  --sidebar-width: 200px;
}
