.markdown-body {
  h2 {
    font-size: 18px;
    margin: 1em 0 15px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
  }

  h3 {
    font-size: 14px;
    margin: 22px 0 16px;
  }

  h4 {
    font-size: 13px;
    margin: 20px 0 16px;
  }

  h5 {
    font-size: 12px;
    margin: 16px 0 16px;
    font-weight: 700;
  }

  p {
    font-size: 12px;
    line-height: 24px;
    color: var(--color-text--lighter);
    margin-top: 0px;
    margin: 8px 0;
    margin: 14px 0 14px;
  }

  pre {
		padding: 16px;
    overflow: auto;
    font-size: 12px;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
    margin: 8px 0;
  }

  blockquote {
    margin-bottom: 8px;
    margin-top: 8px;
    margin: 14px 0 14px;
    background-color: #eee;
    padding: 16px 16px;
  }

  tr {
    background-color: #f5f5f5;
  }

  code {
    background-color: transparent;
  }

  ul,
  ol,
  li {
    list-style: unset;
    font-size: 12px;
    line-height: 20px;
    color: var(--color-text--lighter);
    margin-top: 0px;
    margin: 8px 0;
  }

  blockquote {
    border-color: #48b6e2;
  }

  table {
    display: table;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
}
